<!--
`sr-pages-camera` provides a page containing controls for viewing the image on
the camera and also libkoki marker information.

Example:

    <sr-core-page online="sr-pages-camera" offline="sr-pages-camera"></sr-core-page>

@group SR Pages Elements
@element sr-pages-camera
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-wamp/sr-wamp.html" />
<link rel="import" href="../sr-wamp-procedure/sr-wamp-procedure.html" />
<link rel="import" href="../sr-wamp-publish/sr-wamp-publish.html" />
<link rel="import" href="../sr-wamp-subscribe/sr-wamp-subscribe.html" />
<link rel="import" href="../sr-camera-frame/sr-camera-frame.html" />
<link rel="import" href="../sr-ui-toolbar/sr-ui-toolbar.html" />

<dom-module id="sr-pages-camera">
  <template>
    <style>
      :host {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }

      #content {
        flex: 1 1 auto;
        display: flex;
      }

      #current {
        flex: 1 1 auto;
      }

      #old {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-left: 1px solid black;
        width: 20%;
      }

      #old img {
        flex: 0 0 auto;
        margin-bottom: 1px;
        width: 100%;
        opacity: 0.5;
      }

      #old img.selected {
        opacity: 1;
      }
    </style>

    <sr-ui-toolbar>
      <h1 flex>Camera</h1>

      <template is="dom-if" if="{{ connected }}">
        <button on-click="handlePlayPauseClicked">Play</button>
      </template>
    </sr-ui-toolbar>

    <sr-wamp id="wamp" on-open="handleWampOpen" on-close="handleWampClose"></sr-wamp>

    <sr-wamp-subscribe id="wampImageSub" topic="org.srobo.camera.image"
      on-handle="handleImage"></sr-wamp-subscribe>

    <div id="content">
      <template is="dom-if" if="{{ connected }}">
        <sr-camera-frame id="current"></sr-camera-frame>

        <div id="old"></div>
      </template>

      <template is="dom-if" if="{{ !connected }}">
        <div flex horizontal center center-justified layout>
          <h1>You must be connected to the robot to view the camera.</h1>
        </div>
      </template>
    </div>
  </template>

  <script>
    Polymer({
      is: "sr-pages-camera",

      created: function() {
        this._markerInfo = {};
        this.isPlaying = false;
      },
      deselectAll: function() {
        var old = Polymer.dom(this.root).querySelector("#old");
        var imgs = old.children;
        for (var i = 0; i < imgs.length; i++) {
          imgs[i].className = "";
        }
      },
      changeImage: function(img) {
        this.deselectAll();
        img.className = "selected";
        var current = Polymer.dom(this.root).querySelector("#current");
        current.setImage(img.src, this._markerInfo[img.src]);
      },
      addOldImage: function(src) {
        var old = Polymer.dom(this.root).querySelector("#old");
        var img = document.createElement("img");
        img.src = src;
        img.onclick = this.changeImage.bind(this, img);
        if (old.children.length === 0) {
          old.appendChild(img);
        } else {
          old.insertBefore(img, old.children[0]);
        }

        if (old.children.length >= 10) {
          old.removeChild(old.lastChild);
        }

        return img;
      },
      handleImage: function(e) {
        var src = e.detail.args[0];
        var img = this.addOldImage(src);
        this._markerInfo[img.src] = e.detail.args[1];
        this.changeImage(img);
      },
      handlePlayPauseClicked: function(e) {
        this.isPlaying = !this.isPlaying;

        if (this.isPlaying) {
          e.target.textContent = "Pause";
          this.$.wampImageSub.subscribe();
        } else {
          e.target.textContent = "Play";
          this.$.wampImageSub.unsubscribe();
        }
      },
      handleWampOpen: function() {
        this.connected = true;
      },
      handleWampClose: function() {
        this.connected = false;
        this.isPlaying = false;
      }
    });
  </script>
</dom-module>
