<!--
`sr-core-zone-picker` provides a button selection for the current zone.

Example:

    <sr-core-zone-picker></sr-core-zone-picker>

You can get/set the current zone using the `zone` attribute.

@group SR Core Elements
@element sr-core-zone-picker
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-wamp-procedure/sr-wamp-procedure.html" />
<link rel="import" href="../sr-wamp-publish/sr-wamp-publish.html" />
<link rel="import" href="../sr-wamp-subscribe/sr-wamp-subscribe.html" />

<dom-module id="sr-zone-picker">
  <template>
      <style>
        :host {
          display: block;
        }

        button {
          width: 64px;
          height: 64px;
          margin: 6px;
          padding: 6px;
          font-size: 2em;
          border-radius: 2px;
          border: none;
          box-shadow: 0 0 3px rgb(250, 250, 250);
        }

        button::before {
          content: attr(data-zone);
        }

        button.selected {
          box-shadow: inset 0 0 32px black;
        }
      </style>

      <!-- TODO fetch the colours from the competition API? -->

      <button data-zone="0" style="background: #00ff00"
          class$="[[ _buttonClass(0, zone) ]]"></button>
      <button data-zone="1" style="background: #ff6600"
          class$="[[ _buttonClass(1, zone) ]]"></button>

      <br />

      <button data-zone="2" style="background: #ff00ff"
          class$="[[ _buttonClass(2, zone) ]]"></button>
      <button data-zone="3" style="background: #ffff00"
          class$="[[ _buttonClass(3, zone) ]]"></button>

      <sr-wamp-subscribe auto="wamp" topic="org.srobo.zone"
          on-handle="handleZone"></sr-wamp-subscribe>
      <sr-wamp-publish id="wampPublishZone"
          topic="org.srobo.zone"></sr-wamp-publish>
      <sr-wamp-procedure auto="wamp" name="org.srobo.zone"
          on-success="handleZone"></sr-wamp-procedure>
  </template>

  <script>
    Polymer({
      is: 'sr-zone-picker',

      properties: {
        zone: Number,
      },

      ready: function() {
        var buttons = Polymer.dom(this.root).querySelectorAll("button");
        for (var i = 0; i < buttons.length; i++) {
          (function(btn) {
            btn.addEventListener("click", function(e) {
              this.zone = parseInt(btn.dataset.zone);
              this.publishZone();
            }.bind(this));
          }.bind(this)(buttons[i]));
        }
      },
      publishZone: function(zone) {
        if (zone === undefined) {
          zone = this.zone;
        }

        this.$.wampPublishZone.go([zone]);
      },
      handleZone: function(e) {
        if (e.detail.result !== undefined) {
          this.zone = e.detail.result;
        } else {
          this.zone = e.detail.args[0];
        }
      },

      _buttonClass: function(zone, selectedZone) {
        return zone === selectedZone ? 'selected' : '';
      }
    });
  </script>
</dom-module>
