<!--
`sr-ui-button-bar` provides a sidebar which can be used to contain
`sr-ui-fa-button`s.

Example:

    <sr-ui-button-bar>
        <sr-ui-fa-button icon="cogs"></sr-ui-fa-button>
    </sr-ui-button-bar>

It is designed to hold buttons that do not contain text.

@group SR UI Elements
@element sr-ui-button-bar
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html" />

<dom-module id="sr-ui-button-bar">
  <template>
    <style>
      :host {
          display: block;
          height: 100%;
          position: relative;
          z-index: 2000;
      }

      div {
          height: 100%;
          background: rgb(13, 31, 97);
          color: white;

          display: flex;
          flex-direction: column;
          align-items: center;
      }
    </style>

    <div>
      <content></content>
    </div>
  </template>

  <script>
    Polymer({
      is: 'sr-ui-button-bar',
    });
  </script>
</dom-module>
