<!--
`sr-wamp-status-indicator` provides a small element which contains the WAMP
connection status.

Example:

    <sr-wamp-status-indicator></sr-wamp-status-indicator>

@group SR WAMP Elements
@element sr-wamp-status-indicator
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-wamp-core/sr-wamp-core.html" />

<dom-module id="sr-wamp-status-indicator">
  <template>
      <link rel="import" type="css" href="/bower_components/components-font-awesome/css/font-awesome.css" />

      <style>
        :host {
          display: block;
          padding: 4px 8px;
          background: black;
          color: white;
          opacity: 0.3;
          border-top-left-radius: 3px;
        }

        p {
          margin: 0;
        }

        .fa {
          vertical-align: middle;
        }
      </style>

      <sr-wamp-core id="wamp" on-open="handleOpen" on-close="handleClose"></sr-wamp-core>

      <p><span class$="[[ _iconClass(connected) ]]"></span> <span>[[ _statusText(connected) ]]</span></p>
  </template>

  <script>
    Polymer({
      is: 'sr-wamp-status-indicator',

      properties: {
        connected: Boolean,
      },

      handleOpen: function() {
        this.connected = true;
        this.timeout = setTimeout(function() {
          this.style.display = 'none';
          this.timeout = undefined;
        }.bind(this), 5000);
      },
      handleClose: function() {
        this.connected = false;
        if (this.timeout !== undefined) {
          clearTimeout(this.timeout);
        }
        this.style.display = "block";
      },

      _iconClass: function(connected) {
        return 'fa fa-thumbs-o-' + (connected ? 'up' : 'down') + ' fa-fw';
      },
      _statusText: function(connected) {
        return connected ? 'Online' : 'Offline';
      },
    });
  </script>
</dom-module>
