<!--
`sr-core-mode-picker` provides a button selection for the current mode.

Example:

    <sr-core-mode-picker></sr-core-mode-picker>

You can get/set the current mode using the `mode` attribute. The `mode` is one
of `dev` or `comp`.

@group SR Core Elements
@element sr-core-mode-picker
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-wamp-call/sr-wamp-call.html" />
<link rel="import" href="../sr-wamp-publish/sr-wamp-publish.html" />
<link rel="import" href="../sr-wamp-subscribe/sr-wamp-subscribe.html" />

<dom-module id="sr-mode-picker">
  <template>
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />

    <style>
      :host {
        display: flex;
        flex-direction: column;
      }

      button {
        width: 310px;
        height: 64px;
        display: block;
        margin: 6px;
        padding: 6px;
        border-radius: 2px;
        border: none;
        font-size: 2em;
      }

      button::before {
        content: attr(data-zone);
      }

      button.selected {
        background: rgb(180, 180, 180);
        box-shadow: inset 0 0 20px rgb(10, 10, 10);
      }

      span.fa {
        margin-right: 10px;
      }
    </style>

    <button data-mode="dev" class$="[[ _buttonClass('dev', mode) ]]">
      <span class="fa fa-code"></span> Development
    </button>

    <button data-mode="comp" class$="[[ _buttonClass('comp', mode) ]]">
      <span class="fa fa-trophy"></span> Competition
    </button>

    <sr-wamp-subscribe auto="wamp" topic="org.srobo.mode"
      on-handle="handleMode"></sr-wamp-subscribe>
    <sr-wamp-publish id="wampPublishMode"
      topic="org.srobo.mode"></sr-wamp-publish>
    <sr-wamp-call auto="wamp" procedure="org.srobo.mode"
      on-success="handleMode"></sr-wamp-call>
  </template>

  <script>
    Polymer({
      is: 'sr-mode-picker',

      properties: {
        mode: String,
      },

      ready: function() {
        var buttons = Polymer.dom(this.root).querySelectorAll("button");
        for (var i = 0; i < buttons.length; i++) {
          (function(btn) {
              btn.addEventListener("click", function(e) {
                this.mode = btn.dataset.mode;
                this.publishMode();
              }.bind(this));
          }.bind(this)(buttons[i]));
        }
      },

      publishMode: function(mode) {
        if (mode === undefined) {
          mode = this.mode;
        }

        this.$.wampPublishMode.go([mode]);
      },
      handleMode: function(e) {
        this.mode = e.detail.result || e.detail.args[0];
      },

      _buttonClass: function(mode, selectedMode) {
        return mode === selectedMode ? 'selected' : '';
      }
    });
  </script>
</dom-module>
