<!--
`sr-servos-page` provides a page allowing you to control any servo connected
to the robot.

Example:

    <sr-core-page online="sr-servos-page" offline="sr-servos-page"></sr-core-page>

@group SR Pages Elements
@element sr-servos-page
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-servos-controller/sr-servos-controller.html" />
<link rel="import" href="../sr-ui-toolbar/sr-ui-toolbar.html" />

<dom-module id="sr-servos-page">
  <template>
    <style>
      :host {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }

      sr-servos-controller {
        flex: 1 1 auto;
      }
    </style>

    <sr-ui-toolbar id="toolbar">
      <h1 flex>Servo Control</h1>
    </sr-ui-toolbar>

    <sr-servos-controller id="controller" on-added="handleBoardAdded"
      on-removed="handleBoardRemoved"
      on-changed="handleBoardChanged"></sr-servos-controller>
  </template>

  <script>
    Polymer({
      is: "sr-servos-page",

      handleBoardAdded: function(e) {
        var serialNumber = e.detail.serialNumber;
        var button = document.createElement("button");
        button.id = "button_" + serialNumber;
        button.className = "tab";
        button.textContent = "Board " + serialNumber;
        button.onclick = this.$.controller.changeBoard.bind(this.$.controller, serialNumber);
        this.$.toolbar.appendChild(button);
      },
      handleBoardRemoved: function(e) {
        var serialNumber = e.detail.serialNumber;
        var button = this.$.toolbar.querySelector("#button_" + serialNumber);
        button.parentNode.removeChild(button);
      },
      handleBoardChanged: function(e) {
        var buttons = Polymer.dom(this.root).querySelectorAll("button.tab");
        for (var i = 0; i < buttons.length; i++) {
          if (buttons[i].id == "button_" + e.detail.serialNumber) {
            buttons[i].style.fontWeight = "bold";
          } else {
            buttons[i].style.fontWeight = "normal";
          }
        }
      }
    });
  </script>
</dom-module>
