<!--
`sr-io-pin-controller` provides a pin controller.

Example:

    <sr-io-pin-controller
        board="abc"
        pin="0"></sr-io-pin-controller>

@group SR I/O Elements
@element sr-io-pin-controller
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html" />
<link rel="import" href="../wamp/index.html" />
<link rel="import" href="pin-mode-controller.html" />
<link rel="import" href="pin-value-controller.html" />

<dom-module id="sr-io-pin-controller">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100px;
        padding: 10px;
      }

      h2 {
        margin: 0;
      }

      h3 {
        font-size: 0.8em;
        font-weight: bold;
        color: rgb(50, 50, 50);
        margin: 0 0 15px;
      }

      sr-io-analogue-pin-controller,
      sr-io-digital-pin-controller,
      sr-io-pin-mode-controller {
        margin: 5px;
      }
    </style>

    <h2>{{ pin }}</h2>
    <h3>{{ type }}</h3>

    <sr-io-pin-mode-controller board="{{ board }}" pin="{{ pin }}"
        value="{{ mode }}"></sr-io-pin-mode-controller>

    <sr-io-pin-value-controller board="{{ board }}" pin="{{ pin }}"
        mode="{{ mode }}" type="{{ type }}"
        value="{{ value }}"></sr-io-pin-value-controller>

    <iron-localstorage id="localStorageMode"
        name="[[ _localStorageName(board, pin, 'mode') ]]"></iron-localstorage>
    <iron-localstorage id="localStorageType"
        name="[[ _localStorageName(board, pin, 'type') ]]"></iron-localstorage>
    <iron-localstorage id="localStorageValue"
        name="[[ _localStorageName(board, pin, 'value') ]]"></iron-localstorage>

    <sr-wamp-core on-open="handleWampOpen"
        on-close="handleWampClose"></sr-wamp-core>
    <sr-wamp-call id="wampGetPin" procedure="org.srobo.ruggeduinos.get_pin"
        on-success="handleGetPinSuccess"></sr-wamp-call>
  </template>

  <script>
    Polymer({
      is: 'sr-io-pin-controller',

      properties: {
        board: String,
        pin: {
          type: Number,
          value: 0,
        },
        mode: String,
        type: String,
        value: {
          type: String,
          value: 0,
        }
      },

      handleWampOpen: function() {
        this.$.wampGetPin.go([this.board, this.pin]);
      },
      handleWampClose: function() {
        this.mode = this.$.localStorageMode.value;
        this.type = this.$.localStorageType.value;
        this.value = this.$.localStorageValue.value;
      },
      handleGetPinSuccess: function(e) {
        this.mode = e.detail.result.mode;
        this.type = e.detail.result.type;
        this.value = e.detail.result.value;
      },
      modeChanged: function() {
        this.$.localStorageMode.value = this.mode;
      },
      typeChanged: function() {
        this.$.localStorageType.value = this.type;
      },
      valueChanged: function() {
        this.$.localStorageValue.value = this.value;
      },

      _localStorageName: function(board, pin, section) {
        return 'io.' + board + '.' + pin + '.' + section;
      }
    });
  </script>
</dom-module>
