<!--
`sr-io-analogue-pin-controller` provides a pin controller for an analogue pin.

Example:

    <sr-io-analogue-pin-controller
        board="abc"
        pin="0"
        mode="input"
        value="0.5"></sr-io-analogue-pin-controller>

Generally, you will want to use `sr-io-pin-controller` which handles the
difference between an analogue and digital pin automatically.

@group SR I/O Elements
@element sr-io-analogue-pin-controller
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html" />
<link rel="import" href="../wamp/index.html" />

<dom-module id="sr-io-pin-value-controller">
  <template>
    <style>
      :host {
        display: block;
      }

      input {
        padding: 2px;
      }

      input[type=range] {
        width: 100%;
      }

      input[type=checkbox] {
        width: 32px;
        height: 32px;
      }
    </style>

    <template bind if="{{ type === 'analogue' }}">
      <input type="range" value="{{value}}" on-change="handleValueChange"
        min="0" max="3.3" step="0.1" disabled?="{{ isInput || readonly }}" />
    </template>

    <template bind if="{{ type === 'digital' }}">
      <input checked="{{ value }}" on-change="handleValueChange"
        type="checkbox" disabled?="{{ isInput || readonly }}" />
    </template>

    <iron-localstorage id="localStorage"
      name="io_{{ board }}_{{ pin }}_value"></iron-localstorage>

    <sr-wamp-core id="wamp" on-open="handleWampOpen"
      on-close="handleWampClose"></sr-wamp-core>
    <sr-wamp-subscribe auto="wamp" topic="org.srobo.ruggeduinos.pin_value"
      on-handle="handleValue"></sr-wamp-subscribe>
    <sr-wamp-publish id="publishValue"
      topic="org.srobo.ruggeduinos.pin_value"></sr-wamp-publish>
    <sr-wamp-subscribe id="wampSubRobotState" auto="wamp"
      topic="org.srobo.state" on-handle="handleRobotState"></sr-wamp-subscribe>
    <sr-wamp-call id="wampGetRobotState" procedure="org.srobo.state"
      on-success="handleRobotState"></sr-wamp-call>
  </template>

    <script>
        Polymer({
          is: "sr-io-pin-value-controller",

          properties: {
            board: {
              type: Number,
              value: 0
            },
            pin: {
              type: Number,
              value: 0
            },
            mode: String,
            type: String,
            value: String,
            readonly: {
              type: Boolean,
              value: false
            }
          },

          ready: function() {
            this.isInput = false;
          },

            handleWampOpen: function() {
                this.readonly = false;
                this.$.wampGetRobotState.go();
            },
            handleWampClose: function() {
                this.readonly = true;
                this.value = this.$.localStorage.value;
            },
            modeChanged: function() {
                if (typeof(this.mode) === "string") {
                    this.isInput = this.mode.indexOf("input") === 0;
                } else {
                    this.isInput = false;
                }
            },
            handleValueChange: function() {
                var args;
                if (this.type === "digital") {
                    args = [this.board, this.pin, this.value];
                } else {
                    args = [this.board, this.pin, parseFloat(this.value)];
                }

                this.$.publishValue.go(args);
            },
            handleValue: function(e) {
                var args = e.detail.args;
                if (args[0] === this.board && args[1] === this.pin) {
                    this.value = parseFloat(args[2]);
                }
            },
            valueChanged: function() {
                this.$.localStorage.value = this.value;
            },
            handleRobotState: function(e) {
                var state = e.detail.result || e.detail.args[0];
                if (state === "stopped") {
                    this.readonly = false;
                } else {
                    this.readonly = true;
                }
            },
        });
    </script>
</polymer-element>
