<!--
`sr-motors-motor-controller` provides a controller for an individual motor.

Example:

    <sr-motors-motor-controller
        board="abc"
        motor="0"></sr-motors-motor-controller>

You can get the current value with the `value` attribute.

@group SR Motors Elements
@element sr-motors-motor-controller
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="../wamp/index.html" />

<dom-module id="sr-motors-motor-controller">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100px;
      }

      input[type=range] {
        flex: 1 1 auto;
        -webkit-appearance: slider-vertical;
        writing-mode: bt-lr;
        margin: 16px 0;
      }

      h2 {
        margin: 2px 0;
      }

      span {
        margin: 2px 0 16px;
        font-size: 1.2em;
      }

      button {
        margin: 2px 0;
        padding: 4px 8px;
        font-weight: bold;
        font-size: 1.1em;
      }
    </style>

    <h2>{{ motor }}</h2>
    <input type="range" orient="vertical" min="-100" max="100" step="0.01"
      value="{{ value }}" on-change="handleValueChange" readonly?="{{ readonly }}" />
    <span>{{ value | formatValue }}</span>
    <button disabled?="{{ readonly }}" on-click="handleStop">Stop</button>

    <iron-localstorage id="localStorage"
      name="motors_{{ board }}_{{ motor }}_value"></iron-localstorage>

    <sr-wamp-core on-open="handleWampOpen"
      on-close="handleWampClose"></sr-wamp-core>
    <sr-wamp-call id="wampGetMotor" procedure="org.srobo.motors.get_motor"
      on-success="handleGetMotorSuccess"></sr-wamp-call>
    <sr-wamp-subscribe auto="wamp" topic="org.srobo.motors.motor_value"
      on-handle="handleValuePublished"></sr-wamp-subscribe>
    <sr-wamp-publish id="publishValue"
      topic="org.srobo.motors.motor_value"></sr-wamp-publish>
    <sr-wamp-subscribe id="wampSubState" auto="wamp" topic="org.srobo.state"
      on-handle="handleState"></sr-wamp-subscribe>
    <sr-wamp-call id="wampGetState" procedure="org.srobo.state"
      on-success="handleState"></sr-wamp-call>
  </template>

  <script>
    Polymer({
      is: "sr-motors-motor-controller",

      properties: {
        board: Number,
        motor: Number,
        value: Number,
        readonly: {
          type: Boolean,
          value: false
        },
      },

      handleWampOpen: function() {
        this.readonly = false;
        this.$.wampGetMotor.go([this.board, this.motor]);
        this.$.wampGetState.go();
      },
      handleWampClose: function() {
        this.readonly = true;
        this.value = this.$.localStorage.value;
      },
      handleValueChange: function() {
        var args = [this.board, this.motor, parseFloat(this.value)];
        this.$.publishValue.go(args);
      },
      handleValuePublished: function(e) {
        var args = e.detail.args;
        if (args[0] === this.board && args[1] === this.motor) {
          this.value = parseFloat(args[2]);
        }
      },
      handleGetMotorSuccess: function(e) {
        this.value = e.detail.result.value;
      },
      handleStop: function() {
        this.value = 0;
        this.$.publishValue.go([this.board, this.motor, 0]);
      },
      handleState: function(e) {
        var state = e.detail.result || e.detail.args[0];
        if (state === "stopped") {
          this.readonly = false;
        } else {
          this.readonly = true;
        }
      },
      valueChanged: function(oldVal, newVal) {
        this.$.localStorage.value = newVal;
      },
      formatValue: function(v) {
        return Number(v).toFixed(2);
      }
    });
  </script>
</dom-module>
