<!--
`sr-wamp-procedure` provides a convenient way of making a WAMP call.

Example:

    <sr-wamp-procedure
        auto
        procedure="my.rpc.call"></sr-wamp-procedure>

@group SR WAMP Elements
@element sr-wamp-procedure
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-wamp/sr-wamp.html" />

<dom-module id="sr-wamp-procedure">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>

    <sr-wamp id="wamp" on-open="handleOpen"></sr-wamp>
  </template>

  <script>
    Polymer({
      is: 'sr-wamp-procedure',

      properties: {
        name: String,
        auto: {
          type: Boolean,
          value: false,
          reflectToAttribute: true,
        },
      },

      handleOpen: function() {
        if (this.auto) {
          this.go();
        }
      },
      go: function(args, kwargs, options) {
        this.$.wamp.call(this.name, args, kwargs, options).then(function(result) {
          this.fire('success', {result: result});
        }.bind(this));
      }
    });
  </script>
</dom-module>
