<!--
`sr-wamp-subscribe` provides a convenient way of making a WAMP subscribe.

Example:

    <sr-wamp-subscribe
        auto
        topic="my.rpc.call"></sr-wamp-subscribe>

@group SR WAMP Elements
@element sr-wamp-subscribe
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-wamp/sr-wamp.html" />

<dom-module id="sr-wamp-subscribe">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>

    <sr-wamp id="wamp" on-open="handleOpen"></sr-wamp>
  </template>

  <script>
    Polymer({
      is: 'sr-wamp-subscribe',

      properties: {
        topic: String,
        auto: {
          type: Boolean,
          value: false,
          reflectToAttribute: true,
        },
      },

      subscribe: function() {
        this.$.wamp.subscribe(
          this.topic,
          function(args, kwargs, details) {
              this.fire('handle', {
                args: args, kwargs: kwargs, details: details
              });
          }.bind(this),
          undefined,
          function(subscription) {
            this._subscription = subscription;
          }.bind(this)
        );
      },
      unsubscribe: function() {
        this.$.wamp.unsubscribe(this._subscription);
      },
      handleOpen: function() {
        if (this.auto) {
          this.subscribe();
        }
      },
    });
  </script>
</dom-module>
