<!--
`sr-logs-log` provides a view of a log.

Example:

    <sr-logs-log></sr-logs-log>

@group SR Logs Elements
@element sr-logs-log
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html" />

<link rel="import" href="../sr-wamp/sr-wamp.html" />
<link rel="import" href="../sr-wamp-procedure/sr-wamp-procedure.html" />
<link rel="import" href="../sr-wamp-subscribe/sr-wamp-subscribe.html" />
<link rel="import" href="../sr-logs-textarea/sr-logs-textarea.html" />

<dom-module id="sr-logs-log">
  <template>
    <style>
      :host {
        flex: 1 1 auto;
        display: flex;
      }

      :host[hidden] {
        display: none;
      }
    </style>

    <iron-localstorage id="localStorage"
      name$="[[ _localStorageName(log) ]]"></iron-localstorage>

    <sr-logs-textarea id="log"></sr-logs-textarea>

    <sr-wamp-subscribe id="wampSub" topic="org.srobo.logs.append"
      on-handle="handleLogAppend"></sr-wamp-subscribe>
    <sr-wamp-procedure id="wampCall" name="org.srobo.logs.get"
      on-success="handleLogGet"></sr-wamp-procedure>
    <sr-wamp on-open="handleWampOpen"
      on-close="handleWampClose"></sr-wamp>
  </template>

  <script>
    Polymer({
      is: "sr-logs-log",

      properties: {
        log: String,
      },

      ready: function() {

      },
      handleWampOpen: function() {
        this.$.wampSub.subscribe();
        this.$.wampCall.go([this.log]);
      },
      handleWampClose: function() {
        this.$.log.entries = this.$.localStorage.value;
      },
      handleLogGet: function(e) {
        var contents = e.detail.result.contents;
        this.$.log.entries = contents.map(function(entry, i) {
          return {text: entry, lineNumber: i};
        });
        this.$.localStorage.value = this.$.log.entries;
      },
      handleLogAppend: function(e) {
        if (e.detail.args[0] === this.log) {
          this.addEntry(e.detail.args[1], e.detail.args[2]);
        }
      },
      addEntry: function(entry, lineNumber, includeDate) {
        this.$.log.addEntry(entry, lineNumber, includeDate);
        this.$.localStorage.value = this.$.log.entries;
      },
      scrollToBottom: function() {
        this.$.log.scrollToBottom();
      },

      _localStorageName: function(name) {
        return 'logs.' + name;
      }
    });
  </script>
</dom-module>
