<!--
`sr-servos-board-controller` provides an entire servo board controller.

Example:

    <sr-servos-board-controller board="abc"></sr-servos-board-controller>

@group SR Servos Elements
@element sr-servos-board-controller
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html" />

<link rel="import" href="../sr-wamp/sr-wamp.html" />
<link rel="import" href="../sr-wamp-procedure/sr-wamp-procedure.html" />
<link rel="import" href="../sr-servos-servo-controller/sr-servos-servo-controller.html" />

<dom-module id="sr-servos-board-controller">
  <template>
    <style>
      :host {
        flex: 1 1 auto;
        display: flex;
      }

      #controllers {
        flex: 1 1 auto;
        padding: 10px;
        display: flex;
        overflow-x: auto;
      }

      sr-servos-servo-controller {
        flex: 1 1 auto;
      }
    </style>

    <div id="controllers"></div>

    <iron-localstorage id="localStorage" name="[[ _localStorageName(board) ]]"></iron-localstorage>

    <sr-wamp on-open="handleWampOpen" on-close="handleWampClose"></sr-wamp>
    <sr-wamp-procedure id="wampGetBoard" name="org.srobo.servos.get_board"
      on-success="handleGetBoardSuccess"></sr-wamp-procedure>
  </template>

  <script>
    Polymer({
      is: "sr-servos-board-controller",

      properties: {
        board: Number,
      },

      handleWampOpen: function() {
        this.$.wampGetBoard.go([this.board]);
      },
      handleWampClose: function() {
        this._clearControllers();
        var noControllers = this.$.localStorage.value;
        this._addAllServoControllers(noControllers);
      },
      handleGetBoardSuccess: function(e) {
        this._clearControllers();
        var servos = e.detail.result.servos;
        this._addAllServoControllers(servos.length);
        this.$.localStorage.value = servos.length;
      },
      _createServoController: function(servo) {
        var element = document.createElement("sr-servos-servo-controller");
        element.board = this.board;
        element.servo = servo;
        return element;
      },
      _addServoController: function(servo) {
        var element = this._createServoController(servo);
        this.$.controllers.appendChild(element);
      },
      _addAllServoControllers: function(count) {
        for (var i = 0; i < count; i++) {
          this._addServoController(i);
        }
      },
      _clearControllers: function() {
        var controllers = this.$.controllers;
        while (controllers.lastChild) {
          controllers.removeChild(controllers.lastChild);
        }
      },

      _localStorageName: function(board) {
        return 'servos.' + board;
      }
    });
  </script>
</dom-module>
