<!--
`sr-pages-setup` provides a set up page containing controls to set the mode and
zone and, while running, view the current project information.

Example:

    <sr-core-page online="sr-pages-setup" offline="sr-pages-setup"></sr-core-page>

@group SR Pages Elements
@element sr-pages-setup
-->

<link rel="import" href="/bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-ui-toolbar/sr-ui-toolbar.html" />
<link rel="import" href="../sr-wamp/sr-wamp.html" />
<link rel="import" href="../sr-wamp-procedure/sr-wamp-procedure.html" />
<link rel="import" href="../sr-wamp-publish/sr-wamp-publish.html" />
<link rel="import" href="../sr-wamp-subscribe/sr-wamp-subscribe.html" />
<link rel="import" href="../sr-mode-picker/sr-mode-picker.html" />
<link rel="import" href="../sr-zone-picker/sr-zone-picker.html" />

<dom-module id="sr-pages-setup">
  <template>
    <style>
      :host {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }

      #first {
        margin: 10px;
        flex: 1 1 auto;
        align-self: center;
        justify-content: center;

        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      @media (orientation: portrait) {
        #container {
          flex-direction: column;
          align-items: center;
        }
      }

      #container > div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.95);
        display: none;
        flex-direction: column;
        align-self: center;
        justify-content: center;
      }

      @media (orientation: portrait) {
        #overlay span {
          display: block;
          text-align: center;
        }
      }

      #overlay.disabled {
        display: flex;
      }

      #overlay > h1 {
        align-self: center;
        font-size: 3em;
        font-weight: bold;
      }

      #overlay > p {
        align-self: center;
        font-size: 1.2em;
      }

      .col1 {
        display: inline-block;
        min-width: 100px;
        text-align: right;
        margin-right: 12px;
      }

      #not-connected {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    </style>

    <sr-ui-toolbar>
      <h1>Set up your robot</h1>
    </sr-ui-toolbar>

    <sr-wamp id="wamp" on-open="_handleWampOpen" on-close="_handleWampClose"></sr-wamp>

    <template is="dom-if" if="{{ connected }}">
      <div id="first">
        <div id="container">
          <div style="margin: 0 20px;">
            <sr-zone-picker id="zonePicker" zone="{{ zone }}"></sr-zone-picker>
            <h2>Zone</h2>
          </div>

          <div style="margin: 0 20px;">
            <sr-mode-picker id="modePicker" mode="{{ mode }}"></sr-mode-picker>
            <h2>Mode</h2>
          </div>
        </div>
      </div>

      <div id="overlay" class="{{ {disabled: disabled} | tokenList }}">
        <h1>Project running…</h1>
        <p>
          <span class="col1">Mode</span><span class="col2"><strong>{{ mode === "dev" ? "Development" : "Competition" }}</strong></span><br />
          <span class="col1">Zone</span><span class="col2"><strong>{{ zone }}</strong></span><br />
          <span class="col1">Project</span><span class="col2"><strong>{{ project.name }}</strong> @ <strong>{{ project.version }}</strong></span><br />
          <span class="col1">Environment</span><span class="col2"><strong>v{{ environment.version }}</strong></span>
        </p>
      </div>

      <sr-wamp-subscribe auto="wamp" topic="org.srobo.state"
          on-handle="handleState"></sr-wamp-subscribe>
      <sr-wamp-subscribe auto="wamp" topic="org.srobo.project.name"
          on-handle="handleProjectName"></sr-wamp-subscribe>
      <sr-wamp-subscribe auto="wamp" topic="org.srobo.project.version"
          on-handle="handleProjectVersion"></sr-wamp-subscribe>
      <sr-wamp-subscribe auto="wamp" topic="org.srobo.environment.version"
          on-handle="handleEnvironmentVersion"></sr-wamp-subscribe>
      <sr-wamp-procedure auto="wamp" name="org.srobo.state"
          on-success="handleState"></sr-wamp-procedure>
      <sr-wamp-procedure auto="wamp" name="org.srobo.environment.version"
          on-success="handleEnvironmentVersion"></sr-wamp-procedure>
      <sr-wamp-procedure auto="wamp" name="org.srobo.project.version"
          on-success="handleProjectVersion"></sr-wamp-procedure>
      <sr-wamp-procedure auto="wamp" name="org.srobo.project.name"
          on-success="handleProjectName"></sr-wamp-procedure>
    </template>

    <template is="dom-if" if="{{ !connected }}">
      <div id="not-connected">
        <h1>You must be connected to the robot to set up the robot.</h1>
      </div>
    </template>
  </template>

  <script>
    Polymer({
      is: 'sr-pages-setup',

      properties: {
        disabled: {
          type: Boolean,
          value: false,
        }
      },

      ready: function() {
        this.project = {};
        this.environment = {};
      },
      handleState: function(e) {
        var state = e.detail.result || e.detail.args[0];
        this.disabled = state !== "stopped";
      },
      handleProjectName: function(e) {
        this.project.name = e.detail.result || e.detail.args[0];
      },
      handleProjectVersion: function(e) {
        this.project.version = e.detail.result || e.detail.args[0];
      },
      handleEnvironmentVersion: function(e) {
        this.environment.version = e.detail.result || e.detail.args[0];
      },
      _handleWampOpen: function() {
        this.connected = true;
      },
      _handleWampClose: function() {
        this.connected = false;
      }
    });
  </script>
</dom-module>
