html /deep/ * {
    font-family: "Lato", sans-serif;
    line-height: 1.3;
}

html /deep/ h1,
html /deep/ h2 {
    font-weight: 300;
}

/* for browsers which don't support CSS ecapsulation */
html {
    font-family: "Lato", sans-serif;
    line-height: 1.3;
}

html h1,
html h2 {
    font-weight: 300;
}
