html /deep/ * {
    font-family: sans-serif;
    line-height: 1.3;
}

html /deep/ h1,
html /deep/ h2 {
    font-weight: 300;
}

/* for browsers that don't support CSS ecapsulation */
html {
    font-family: sans-serif;
    line-height: 1.3;
}

html h1,
html h2 {
    font-weight: 300;
}

html body {
    width: 100%;
    height: 100%;
    background: white;
}
