@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: local("Lato Light"), url("../fonts/lato/300.woff") format("woff");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), url("../fonts/lato/400.woff") format("woff");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), url("../fonts/lato/700.woff") format("woff");
}

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 500;
    src: local("Inconsolata"), url("../fonts/inconsolata/500.woff") format("woff");
}
