body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
}

header {
    box-shadow: 0 0 8px rgb(13, 31, 97);
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    flex: 0 0 auto;
    z-index: 1000;

    display: flex;
    align-items: center;
}

header > button {
    flex: 0 0 auto;
    margin: 2px 20px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

header > button.off {
    background: red;
}

header > nav {
    flex: 1 1 auto;
}

header > nav a {
    display: inline-block;
    line-height: 50px;
    border-bottom: 1px solid rgb(13, 31, 97);
    padding: 2px 32px;
    transition: all 0.2s;
}

header > nav a:hover,
header > nav a.active {
    border-bottom-width: 3px;
    padding-bottom: 0;
}

header > img {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    margin: 6px;
}

main {
    display: flex;
    flex: 1 1 auto;
}

main > textarea {
    padding: 60px 10px 10px;
    flex: 1 1 auto;
}
