body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
}

body > header {
    box-shadow: 0 0 8px rgb(13, 31, 97);
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    flex: 0 0 auto;
    z-index: 1000;

    display: flex;
    align-items: center;
}

body > header > button {
    flex: 0 0 auto;
    margin: 2px 20px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

body > header > button.off {
    background: red;
}

body > header > nav {
    flex: 1 1 auto;
}

body > header > nav a {
    display: inline-block;
    line-height: 50px;
    border-bottom: 1px solid rgb(13, 31, 97);
    padding: 2px 32px;
    transition: all 0.2s;
}

body > header > nav a:hover,
body > header > nav a.active {
    border-bottom-width: 3px;
    padding-bottom: 0;
}

body > header > nav a.active {
    font-weight: bold;
}

body > header > img {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    margin: 6px;
}

body > main {
    flex: 1 1 auto;
    padding: 16px;
    overflow: auto;
}

body > main table {
    border-collapse: initial;
    border-spacing: 0 2px;
    width: 100%;
}

body > main tr {

}

body > main tr:nth-child(even) {
    background: rgb(170, 190, 200);
}

body > main tr:nth-child(odd) {
    background: rgb(170, 180, 200);
}

body > main td,
body > main th {
    padding: 4px;
}

body > main th {
    font-weight: bold;
}
